/*
 ⚡MAKE SURE TO SUBSCRIBE PROGRAMMER CLOUD⚡
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.profile_header__wrapper header {
  width: 100%;
  background: url("../img/bg.jpeg") no-repeat 50% 20% / cover;
  /* min-height: calc(100px + 15vw); */
  min-height: calc(20px + 10vw);
}

.profile_header__wrapper .profile_cols__container .profile_left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 400px;
  position: relative;
  margin: 0 auto;
}

.profile_header__wrapper
  .profile_cols__container
  .profile_left__col
  .profile_img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.profile_header__wrapper
  .profile_cols__container
  .profile_left__col
  .profile_img__container
  img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.profile_header__wrapper
  .profile_cols__container
  .profile_left__col
  .profile_img__container
  span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
}
.profile_header__wrapper .profile_cols__container .profile_left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.profile_header__wrapper .profile_cols__container .profile_left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_left__col
  .profile_about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_left__col
  .profile_about
  li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_left__col
  .profile_about
  li
  span {
  color: #1d1d1d;
  font-weight: 600;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_left__col
  .profile_about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}
.profile_header__wrapper .profile_cols__container .profile_content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
.profile_header__wrapper .profile_cols__container .profile_content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.profile_header__wrapper .profile_cols__container .profile_content ul li {
  display: flex;
}
.profile_header__wrapper .profile_cols__container .profile_content ul i {
  font-size: 1.3rem;
}
.profile_header__wrapper .profile_cols__container .profile_right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}
.profile_header__wrapper .profile_cols__container .profile_right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_right__col
  nav
  ul
  li
  a {
  text-transform: uppercase;
  color: #818181;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_right__col
  nav
  ul
  li:nth-child(1)
  a {
  color: #1d1d1d;
  font-weight: 600;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_right__col
  nav
  button {
  background: #0091ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_right__col
  nav
  button:hover {
  opacity: 0.8;
}
.hidden {
  display: none;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_right__col
  .profile_photos {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); */
  gap: 20px;
}
.profile_header__wrapper
  .profile_cols__container
  .profile_right__col
  .profile_photos
  img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* new */
.grid-container-element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  border: 1px solid black;
  width: 100%;
}
.grid-child-element {
  margin: 10px;
  border: 1px solid red;
}

/* Responsiveness */

@media (min-width: 868px) {
  .profile_header__wrapper .profile_cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr; */
    gap: 50px;
  }
  .profile_header__wrapper .profile_cols__container .profile_left__col {
    padding: 25px 0px;
  }
  .profile_header__wrapper .profile_cols__container .profile_right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .profile_header__wrapper
    .profile_cols__container
    .profile_right__col
    .profile_photos {
    /* height: 365px; */
    height: 600px;
    overflow: auto;
    padding: 0 0 30px;
  }
}
.profile_right__col {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 1017px) {
  .profile_header__wrapper .profile_cols__container .profile_left__col {
    /* margin: 0; */
    margin-right: auto;
  }
  .profile_header__wrapper .profile_cols__container .profile_right__col nav {
    flex-direction: row;
  }
  .profile_header__wrapper
    .profile_cols__container
    .profile_right__col
    nav
    button {
    margin-top: 0;
  }
}
